<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>HCL Challenge</mat-card-title>
      <mat-card-subtitle>Please login to continue</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form id="login-form" [formGroup]="loginForm">

          <mat-form-field class="full-width">
            <input matInput #username minLength="1" maxlength="256" placeholder="Username" formControlName="username" type="text">
            <mat-hint align="start">
              <strong>Username</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput #password minLength="1" maxlength="256" placeholder="Password" formControlName="password" type="password">
            <mat-hint align="start">
              <strong>Password</strong>
            </mat-hint>
          </mat-form-field>

          <button class="full-width form-button" mat-flat-button color="primary" (click)="submitLogin(username.value, password.value)" [disabled]="!loginForm.valid">Login</button>

        </form>
    </mat-card-content>
  </mat-card>
