<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon class="icon">power_settings_new</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-card class="todos-card">
  <mat-card-header>
    <mat-card-title>HCL Challenge - {{ user.email }}</mat-card-title>
    <mat-card-subtitle>{{ todos.length }} Todos</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let todo of todos">
        <a matLine>{{ todo.title }}</a>
        <button mat-icon-button (click)="delete(todo)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>

  <mat-card-actions>
    <form id="todo-form" [formGroup]="todoForm">
        <mat-form-field class="full-width">
          <input matInput #todo minLength="1" maxlength="256" placeholder="What do you need to do?" formControlName="todo">
          <mat-hint align="end">{{todo.value.length}} / 256</mat-hint>
        </mat-form-field>

        <button class="full-width form-button" mat-flat-button color="primary" (click)="submitTodo(todo.value)" [disabled]="!todoForm.valid">Send</button>
      </form>
  </mat-card-actions>
</mat-card>
